*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: initial;
}
header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5)),url('weasu7rpkro41.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

nav{
    width: 100%; 
    height: 12vh;
    background:rgba(0,0,0,0.2)
}

label.logo{
    color: white;
    font-size: 25px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-variant: small-caps;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: skyblue;
    transition: .5s ease;
    text-decoration: none;
    
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}


@media (max-width :858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }

    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }

}

@media (max-width:643px)
{
    section h3{
        font-size: 25px;
        font-weight: 100;
        letter-spacing: 2px;
        text-shadow: 1px 1px 2px black;
    }
    
    section h1{
        font-size: 60px;
        font-weight: 500;
        text-shadow: 5px 1px 5px black;
        text-transform: uppercase;
    }
    
    section p{
        font-size: 20px;
        word-spacing: 5px;
        letter-spacing: 2px;
        margin-bottom: 25px;
        text-shadow: 1px 1px 1px black;
    }
    
    section a{
        padding: 12px 30px;
        border-radius: 4px;
        outline: none;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 500;
        text-decoration: none;
        letter-spacing: 1px;
        transition: all .5s ease;
    }
    
    section .button{
        background: #00b894;
        color: #000;
    }
}

@media(max-width:952px){
    label.logo{
        font-size: 25px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;

    }
}

#Mask_Group_1 {
    filter: drop-shadow(0px 50px 8px rgba(0, 0, 0, 0.945));
    position: absolute;
    width: 60%;
    height:85vh;
    top: 100px;
    overflow: visible;
}
.mapdiv{
    width:50%;
    height: 50%;
    margin: auto;
}

.mapdiv path {
    fill: rgb(81, 131, 79);
    stroke:rgb(184, 174, 174);
    stroke-width:4px;
    transition: fill 0.5s ease;
    
}

.mapdiv :hover {
    fill:rgb(2, 2, 2);
    
}

.mapdiv path:hover{
    color: black;
    filter: drop-shadow(0px 50px 6px rgba(180, 176, 176, 0.425)) blur(5px);
}






